span {
    width: 23%;
}

strong {
    margin-right: 19px;
}

button{ 
    margin-top: 19px;
}


h3 {
    margin-top: 19px;
    font-size: 19px;
}

form {
    margin-top: 19px;
}


.textarea {
    margin-left: 39px;
}

.create {
    margin-right: 19px;
}

.btns {
    margin-bottom: 19px;
}


.mat-progress-spinner {
    position: absolute;
    top: 20%;
    left: 40%;
    bottom: 50%;
    right: 60%;
    overflow: visible;
    z-index: 80;
  }

  :host ::ng-deep .mat-tab-body-wrapper {
    width: 80%;
    z-index: 1;
}

.title-comments {
    cursor: pointer;
}

h4 {
    cursor: pointer;
    background-color: beige;
    width: 300px;
    text-align: center;
}

a{
    color: blue;
    text-decoration: underline;
}



.comments {
    margin-left: 19px;
}