
.mat-progress-spinner {
    position: absolute;
    top: 20%;
    left: 19%;
    right: 81%;
    overflow: visible;
  }

form {
    position: relative;
}

mat-form-field {
  width: 100% !important;
}

