.btns-add {
    margin-left: 19px;
}

button {
    width: 90px;
}


form { 
    margin-top: 39px;
}

.btns {
    margin-bottom: 23px;
}

.mat-progress-spinner {
    position: absolute;
    top: 20%;
    left: 40%;
    bottom: 50%;
    right: 60%;
    overflow: visible;
    z-index: 80;
  }

