<header>
        <mat-toolbar color="primary" fxLayoutAlign="flex-end">
         <ul class="header" fxLayout="row"  fxFlex="50">
            <li class="header-item" fxFlex>
                <a class="header-item__link" routerLinkActive="active" [routerLink]="'/home'">Home</a>
            </li>
            <li class="header-item" fxFlex>
                <a class="header-item__link" routerLinkActive="active" [routerLink]="'/users'">Users</a>
            </li>
            <li class="header-item" fxFlex>
                <a class="header-item_link">Posts</a>
            </li>
         </ul>
        </mat-toolbar>
</header>