<div class="main" fxFlex fxLayout="column">
  <div class="main-title" fxFlex="100" fxLayout="row" flexLayoutAlign="space-around">
    <div fxFlex="73"flexLayoutAlign="center"><h1>Users list</h1></div>
  <div  fxFlex="27" fxLayoutAlign="end">  <button mat-raised-button color="primary" (click)="createUser()">Add new user</button></div>
  </div>
    <mat-spinner class="spinenr" color="primary" *ngIf="loading"></mat-spinner>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container> 
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td  matTooltip="click for user udetails"  class="details-name" mat-cell *matCellDef="let element" (click)="userDetails(element.id)"> {{element.name}}
      <button  #tooltip="matTooltip"  matTooltip="click for user udetails"></button>  
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="createUser(element)">
                  <mat-icon>edit_outline</mat-icon>
                  <span>update</span>
                </button>
                <button mat-menu-item (click)="delete(element.id)" [disabled]="loading">
                  <mat-icon>delete_outline</mat-icon>
                  <span>delete</span>
                </button>
        
              </mat-menu>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[20]" [showFirstLastButtons]="false" [length]="totalSize"
  [pageIndex]="pageEvent.pageIndex" (page)="handlePage($event)">
</mat-paginator>
</div>