button {
    border: none;
    background: none;
    cursor: pointer;


    &:focus {
        border: none;
        outline: none;
    }
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

.main {
    padding: 18px;

    &-title {
        padding: 19px 3px;
    }
}