span {
    width: 23%;
}

strong {
    margin-right: 19px;
}

button{ 
    margin-top: 19px;
}


h3 {
    margin-top: 19px;
    font-size: 19px;
}

form {
    margin-top: 19px;
}


.textarea {
    margin-left: 39px;
}