<mat-tab-group fxFlex="100" fxLayout="column" fxLayoutAlign="center center" animationDuration="0ms">
    <mat-tab fxFlex="100" label="User details" fxFlex="100" fxLayout="column"> 
        <div fxLayout="column" >
            <span><strong>Name:</strong>{{userDetails.name}}</span>
            <span><strong>Email:</strong>{{userDetails.email}}</span>
            <span><strong>Gender:</strong>{{userDetails.gender}}</span>
            <span><strong>Sratus:</strong>{{userDetails.status}}</span>
        </div>
    </mat-tab>
    <mat-tab fxFlex="100" label="User posts">
      <app-users-posts></app-users-posts>
    </mat-tab>
    <mat-tab fxFlex="100" label=" Users todos">
      <app-users-todos></app-users-todos>
    </mat-tab>
  </mat-tab-group>